/* Reservation.css */

.reservation-container {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 20px;
  background-color: rgba(73, 94, 87, 0.212);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reservation-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.reservation-form {
  display: flex;
  flex-direction: column;
}

.reservation-form label {
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
}

.reservation-form input,
.reservation-form select,
.reservation-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.reservation-form button {
  padding: 12px;
  background-color: rgba(73, 94, 87, 255);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.reservation-form button:hover {
  background-color: rgba(156, 192, 181, 0.829);
  color: white;
}
